<?xml version="1.0"?>
<config>
    <modules>
        <Strategery_Logger>
    		<version>0.1.0</version>
        </Strategery_Logger>
    </modules>  
    <admin>
        <routers>
			<logger>
				<use>admin</use>
				<args>
					<module>Strategery_Logger</module>
					<frontName>logger</frontName>
				</args>
			</logger>
        </routers>
    </admin>  
    <adminhtml>
		<menu>
			<system>
				<children>
					<items module="logger">
						<title>Admin Logger</title>
						<sort_order>100</sort_order>
						<action>logger/adminhtml_logger</action>
					</items>
				</children>
			</system>
		</menu>
		<acl>
            <resources>		
                <admin>
                    <children>
			            <logger module="logger">
				            <title>Logger</title>
				            <sort_order>141</sort_order>
				                <children>
					                <items module="logger">
						                <title>Manage Logger</title>
					                </items>
				                </children>
			            </logger>
                    </children>
                </admin>
            </resources>		
		</acl>		
		<layout>
			<updates>
				<logger>
					<file>logger.xml</file>
				</logger>
			</updates>
		</layout>
    </adminhtml>      
    <global>
        <models>
            <logger>
                <class>Strategery_Logger_Model</class>
                <resourceModel>logger_resource</resourceModel>                
            </logger> 
            <logger_resource>
                <class>Strategery_Logger_Model_Resource</class>    
                <entities>
                    <db>
                        <table>strategery_logger</table>
                    </db>
                </entities> 
            </logger_resource>
        </models>   
        <blocks>
            <logger>
                <class>Strategery_Logger_Block</class>
            </logger>
        </blocks>
        <helpers>
            <logger>
                <class>Strategery_Logger_Helper</class>
            </logger>
        </helpers>        
        <resources>
            <logger_setup>
                <setup>
                    <module>Strategery_Logger</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </logger_setup>           
        </resources>
        <events>
            <controller_action_postdispatch_adminhtml>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer</class>
                        <method>info</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </controller_action_postdispatch_adminhtml>
            <catalog_product_new_action>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Product</class>
                        <method>create</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </catalog_product_new_action>
            <catalog_product_edit_action>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Product</class>
                        <method>read</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </catalog_product_edit_action> 
            <catalog_product_prepare_save>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Product</class>
                        <method>update</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </catalog_product_prepare_save>             
            <catalog_product_delete_before>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Product</class>
                        <method>destroy</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </catalog_product_delete_before>  
            <controller_action_predispatch_adminhtml_cms_page_new>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Cms</class>
                        <method>create</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </controller_action_predispatch_adminhtml_cms_page_new>                         
            <cms_page_load_after>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Cms</class>
                        <method>read</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </cms_page_load_after>             
            <cms_page_save_after>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Cms</class>
                        <method>update</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </cms_page_save_after>                                              
            <cms_page_delete_before>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Cms</class>
                        <method>destroy</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </cms_page_delete_before>             
            <controller_action_predispatch_adminhtml_customer_new>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Customer</class>
                        <method>create</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </controller_action_predispatch_adminhtml_customer_new>                                                
            <customer_load_before>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Customer</class>
                        <method>read</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </customer_load_before>             
            <controller_action_predispatch_adminhtml_customer_save>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Customer</class>
                        <method>update</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </controller_action_predispatch_adminhtml_customer_save> 
            <customer_delete_after>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Customer</class>
                        <method>destroy</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </customer_delete_after>                         
        </events>        
    </global>
</config>    
